@keyframes aparecer {
  from { 
      opacity: 0;
      transform: translateY(20px);
  }
  to { 
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes deslizar {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}

.animacion-aparecer {
  animation: aparecer 1s ease-out;
}

.animacion-deslizar {
  animation: deslizar 0.5s ease-out;
}