//header.scss
@import 'variables';

.header {
  background-color: $color-primario;
  padding: $espaciado-medio 0;
  width: 100%;
  position: relative;

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $espaciado-medio;

    @media (max-width: 767px) {
      flex-direction: column;
      text-align: center;
      padding: $espaciado-medio;

      .logo {
        margin-bottom: $espaciado-medio;
        width: 80px;
      }
    }
  }

  .logo {
    width: 100px;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  .nav {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: $espaciado-medio;

    @media (max-width: 767px) {
      flex-direction: column;
      gap: $espaciado-pequeno;
    }

    .nav-item {
      display: inline-block;
      margin-right: $espaciado-pequeno;

      @media (max-width: 767px) {
        margin-right: 0;
        margin-bottom: $espaciado-pequeno;
      }

      .nav-link {
        text-decoration: none;
        color: $color-secundario;
        font-weight: normal;
        transition: all 0.3s ease;
        padding: $espaciado-pequeno;

        &:hover {
          text-decoration: underline;
          transform: translateY(-2px);
        }
      }
    }
  }
}